* button {
    background: none;
    border: none;
}

.press-button {
    background: #0156FF;
    border: none;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: PoppinsB;
    height: 50px;
    width: 150px;
    border-radius: 25px;
}

.press-input {
    height: 50px;
    width: 400px;
}

.comment-button {
    background: none;
    border: #0156FF 2px solid;
    border-radius: 50vh;
    text-align: center;
    color: #0156FF;
    font-family: PoppinsB;
    height: 100%;
    width: 180px;
}

.interact-button {
    border: #A2A6B0 1px solid;
    color: #A2A6B0;
    padding: 0 8px;
    border-radius: 150px;
}
.interact-button * {
    color: #A2A6B0;
    font-family: PoppinsL;
}
.interact-button:focus,
.interact-button:focus > * {
    background: #F5F7FF;
    border: none;
    color: black;
}
.filter .interact-button {
    padding: 4px 25px;
}