* button {
    background: none;
    border: none;
}

.press-button {
    background: #0156FF;
    border: none;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: PoppinsB;
    height: 50px;
    width: 150px;
    border-radius: 25px;
}

.press-input {
    height: 50px;
    width: 400px;
}

.comment-button {
    background: none;
    border: #0156FF 2px solid;
    border-radius: 50vh;
    text-align: center;
    color: #0156FF;
    font-family: PoppinsB;
    height: 100%;
    width: 180px;
}