.main {
    display: flex;
}

.content,
.filter {
    height: 100%;
}

.content {
    margin-top: 5px;
    margin-left: 5px;
    width: 100%;
}

/* .filter {
    background: #F5F7FF;
    width: 235px;
} */

.filter div {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 0 0;
}

.filter section {
    padding: 0 15px 0 15px;
    margin-top: 7px;
    background: #F5F7FF;
    width: 235px;
}



.circle {
    width: 25px;
    height: 25px;
}

.brands {
    display: flex;
    flex-wrap: wrap;
}

.brands div {
    height: 75px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PAGE LIST */
.page-list {
    align-self: center;
    justify-self: center;
    gap: 10px;
    margin: 25px 0 ;
}

.page-list button:not(:last-child) {
    margin-left: 5px;
}
/* ----------------- */

.content__list {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 230px);
    grid-auto-rows: 345px;
    gap: 3px;
}

.content_item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 0 8% 0 8%;
}

.product_info,
.product_availability {
    align-self: self-start;
}

.product_info {
    height: 70px;
    font-size: 15px;
    overflow:hidden;
    font-family: PoppinsR;
}

.product_availability {
    color: #78A962;
}

.product_rating {
    height: 30px;
    color: #E9A426;
}

.product_price {
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.placeholder { /*IMAGE OF PRODUCT*/
    background: url('../images/placeholder.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    align-self: center;
}

.filter__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.filter__title * {
    text-align:justify;
}

h5 {
    font-size: 13px;
    font-family: PoppinsL;
    text-align: center;
}

h4 {
    font-size: 16px;
    font-family: PoppinsB;
    padding: 10px;
}

.SemiB * {
    font-size: 14px;
    font-family: PoppinsSB;
    margin: 15px 0 5px 0;
} 

#filter-image {
    padding: 0;
}

.tag__list {
    display: flex;
    width: 100%;
    height: 40px;
    gap: 10px;
}
.tag {
    background: none;
    border: 1px solid #CACDD8;
    border-radius: 3px;
    padding: 7px 20px;
    font-size: 13px;
    font-family: PoppinsSB;
    color: black;
}

.filter__list p,
.filter__list button {
    color: #CACDD8;
    font-size: 13px;
    font-family: PoppinsR;
}
.filter__list button .tag {
    border: 2px solid #CACDD8;
    font-family: PoppinsSB;
}
.filter__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter__list section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.back {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none !important;
}
.mobile-filter {
    display: none;
}

@media (max-width: 600px) {
    .filter, .tag-sort, .filter__list p, .tag__list {
        display: none;
    }
    .content__list {
        grid-template-columns: repeat(4, 90px);
        /* grid-template-rows: 220px; */
        grid-auto-rows: 220px;
        /* padding: 0 5px; */
    }
    .product_info {
        width: 100%;
        overflow: hidden;
        font-size: 11px;
        text-align: center;
    }
    .product {
        padding: 0;
    }
    .placeholder {
        width: 100%;
        height: 85px;
    }
    .product_price {
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: end;
        margin-left: 5px;
    }
    .sale {
        font-size: 14px;
    }
    .price {
        font-size: 16px;
    }
    .product_rating {
        display: none;
    }
    .mobile-filter {
        display: block;
        border: 1px solid #CACDD8;
        border-radius: 5px;
        padding: 5px 30%;
        color: black !important;
        font-family: PoppinsB !important;
    }
    .interact-button h4 {
        font-size: 9px;
        font-family: PoppinsSB;
    }
    .interact-button {
        padding: 0 3px;
    }
}