@font-face {
    font-family: PoppinsB;
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: PoppinsR;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: PoppinsM;
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: PoppinsL;
    src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: PoppinsSB;
    src: url('../fonts/Poppins-SemiBold.ttf');
}

.header-link {
    margin-left: 5px;
    color: white;
    text-decoration: underline 2px;
    text-underline-offset: 5px;
}

.header-info {
    color: white;
    margin-left: 5px;
}



.price {
    font-size: 22px;
    font-family: PoppinsB;
}

.sale {
    font-size: 16px;
    color:#666666; 
    text-decoration: line-through;
}



.preview-text {
    color: white;
    font-size: 30px;
    font-family: PoppinsB;
    position: absolute;
    width: 70%;
    text-align: center;
}

.preview-link {
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 20px;
}

.highlighted {
    font-family: PoppinsB;
    text-decoration: underline 2px;
    text-decoration-color: #0156FF;
    text-underline-offset: 7px;
}

.hided {
    font-family: PoppinsB;
    color: #838383;
}

.footer-title {
    font-size: 14px;
    font-family: PoppinsB;
    color: #838383;
}


/* h1-h4 */
h1 {
    font-family: PoppinsB;
}

h2 {
    font-family: PoppinsSB;
}

h3 {
    font-family: PoppinsSB;
    font-size: 14px;
}

h4 {
    font-family: PoppinsL;
    font-size: 13px;
}