.footer {
    height: 520px;
    background: #020202;
    width: 100%;
    padding: 0 250px;
    display: flex;
    flex-direction: column;
    justify-content: end; 
}

.footer a {
    color: white;
    font-size: 13px;
    font-family: PoppinsL;
    text-decoration: none;
}

.footer ul {
    list-style: none;
}

.footer__middle {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer__bottom {
    height: 60px;
    color: #838383;
    font-size: 14px;
    font-family: PoppinsM;
    border-top: #838383 1px solid;
}

.footer_contacts a {
    font-size: 14px;
    font-family: PoppinsM;
}

.footer_contacts a:not(:last-child) {
    margin-right: 10px;
}

.footer__bottom,
.payment_methods {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment_methods img:not(:last-child) {
    margin-right: 10px;
}

.footer_title {
    margin-bottom: 55px;
}

.footer_title div:last-child {
    color: #838383;
    font-size: 16px;
    font-family: PoppinsM;
}

.footer_title div:first-child {
    color: white;
    font-size: 38px;
    font-family: PoppinsB;
}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_signature {
    display: flex;
}

.footer_signature div input {
    background: none;
    border: 1px solid white;
    color: white;
    padding-left: 15px;
    font-size: 14px;
    font-family: PoppinsL;
} 

@media (max-width: 600px) {
    .footer {
        margin-top: 1000px;
        padding: 0;
        justify-content: start;
        padding: 45px 5px 0 5px;
        height: 100%;
    }
    
    .footer_title div:first-child {
        font-size: 16px;
    }
    .footer_title div:last-child {
        font-size: 13px;
    }

    .press-input {
        height: 35px;
        width: 100%;
    }

    .footer_signature {
        flex-direction: column;
        align-self: start;
        gap: 10px;
    }
    .press-button {
        font-size: 12px;
        padding: 10px 25px;
        width: auto;
        height: auto;
    }

    .footer__middle div:nth-child(2n), 
    .footer_contacts {
        display: none;
    }
    .footer__middle {
        gap: 10px;
    }

    .footer__bottom {
        height: 40px;
    }
    .footer__bottom div:last-child {
        font-size: 80%;
    }
    .payment_methods img:not(:last-child) {
        margin-right: 2px;
    }
}