* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.header {
    position: fixed;
    top: 0;
    background: white;
    width: 100%;
    z-index: 1000;
}

.header__main {
    background: #020202;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ACACAC;
    font-family: PoppinsL;
    font-size: 14px;
}

.header__navigation,
.header__main {
    padding: 0 250px;
}

.header_shedule,
.header_address,
.header_contacts,
.header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
} 

.header_nav div:not(:last-child) {
    margin-right: 25px;
}

.header_nav div:first-child {
    margin-right: 55px;
}

.header_nav div a {
    color: black;
    text-decoration: none;
    font-family: PoppinsB;
    font-size: 14px;
    white-space:nowrap;
}

.header_contacts * {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.header_tools button:not(:last-child) {
    margin-right: 25px;
}

.header_slider {
    display: flex;
}

.header_shedule {
    height: 100%;
    position:relative;
}


.header_slider > img {
    width: 100%;
    height: auto;
}


.header-info_menu {
    margin-top: 35px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    position: absolute;
    height: 235px;
    width: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-info_menu div {
    width: 100%;
    height: 100%;
    border: #ACACAC 1px solid;
    display: flex;
    align-items: start;
    padding: 5px;
}

.header-info_menu div:first-child {
    display: flex;
    align-items: start;
}

.header-info_menu div div {
    border: 0;
    align-items: start;
}

.header-info_menu div div h4:not(:first-child) {
    font-family: PoppinsSB;
}

.header-info_menu div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-info_menu div img {
    height: 35px;
    width: 35px;
}

h4 {
    font-family: PoppinsL;
    color: black;
    margin: 0px;
}

h4 a {
    color: #0156FF;
}

.header-info_menu {
    display: none;
}

.header_shedule:hover > .header-info_menu {
    display: flex;
}

/* Animations */
.header_nav div > a {
    text-decoration-color: #0156FF;
    text-decoration: none;
    text-underline-offset: 7px;
    transition: .1s;
}

.header_nav div:hover > a {
    text-decoration: underline 3px;
    text-decoration-color: #0156FF;
    text-underline-offset: 5px;
    text-underline-position: auto;
    /* background: #020202;
    padding: 10px;
    color: #FFFFFF; */
    border-radius: 50vh;
}

.header__navigation_mobile {
    display: none;
}

@media (max-width: 600px) {
    .header__navigation,
    .header__main {
        padding: 0 3px;
    }

    .header__main * {
        font-size: 10px;
    }

    .header__main {
        height: 30px;
    }

    .header-link {
        margin-left: 10px;
    }

    .header_contacts * {
        margin: 0;
        margin-top: 5px;
    }
    .header_contacts a:last-child {
        margin-left: 30%;
        margin-right: 5px;
    }

    .header_shedule, #phone-number {
        display: none;
    }

    /*  */

    #header_logo img {
        height: 35px;
        width: 35px;
    }

    .header__navigation {
        height: 60px;
        border: none;
    }

    .header_nav {
        justify-content: start;
        overflow: scroll;
        margin: 0 10px;
    }
    .header_nav div {
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 50vh;
        /* height: 35px; */
        padding: 5px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header_nav div:not(:last-child) {
        margin-right: 5px;
        width: auto;
    }

    .header_nav div:hover > a {
        text-decoration: none !important;
    }

    .header_tools {
        display: none;
    }

    .header__navigation_mobile {
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
    .header__navigation_mobile button {
        width: 45px;
        height: 45px;
    }
    .header__navigation_mobile img {
        width: 70%;
        height: 70%;
    }
    #search-input {
        height: 30px;
        width: 100%;
    }
}