* {
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
}

.header__main {
    background: #020202;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ACACAC;
    font-family: PoppinsL;
    font-size: 14px;
}

.header__navigation,
.header__main {
    padding: 0 250px;
}

.header_shedule,
.header_address,
.header_contacts,
.header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, .1);
} 

.header_nav div:not(:last-child) {
    margin-right: 25px;
}

.header_nav div:first-child {
    margin-right: 55px;
}

.header_nav div a {
    color: black;
    text-decoration: none;
    font-family: PoppinsB;
    font-size: 14px;
}

.header_contacts * {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.header_tools button:not(:last-child) {
    margin-right: 25px;
}

.header_slider {
    display: flex;
    margin: 0 250px;
}




.header_slider > div {
    background-color: tomato;
    width: 100%;
    height: 330px;
}