/* New Products */
.new_products {
    margin: 35px 150px 0 150px;
}

.new_products_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.new_products_text div:first-child {
    font-family: PoppinsB;
    font-size: 22px;
}

.new_products_text div:last-child a {
    color: #0156FF;
    font-size: 13px;
}

.new_products_list, 
.custom_builds {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 350px;
}

.new_product {
    border: 1px solid lightcoral;
    height: 350px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 0 25px 0 25px;
}

.product_info {
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price_and_sale {
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.availability {
    align-self: center;
}

.placeholder {
    background: lightcoral;
    height: 150px;
    width: 150px;
    align-self: center;
}

/* Advertising */
.ad {
    margin: 0 150px 0 150px;
}

.ad div {
    background: lightyellow;
    height: 70px;
    width: 100%;
}

/* Custom Builds */
.custom_builds {
    background: skyblue;
    margin: 0 150px 0 150px;
}

.custom_builds_preview {
    height: 350px;
    width: 260px;
    background: tomato;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* MSI Laptops */
.msi_laptops_selector {
    height: 80px;
    padding-bottom: 15px;
    margin: 0 150px 0 150px;
    background: cornflowerblue;
    display: flex;
    align-items: end;
}

.msi_laptops_selector div:not(:last-child) {
    margin-right: 20px;
} 

/* Partners */
.partners {
    margin: 65px 150px 70px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}